<div class="container">
    <div class="recipe-card">
        <div class="body">
            <h2>
            <a href="/recipe/{{id}}">{{title}} </a>
            </h2>
            <h3>Ingredients:</h3>
            <ul class="ul-ingredients">
                <li > {{ing1}} </li>
                <li> {{ing2}} </li>
                <li> {{ing3}} </li>
               
            </ul>
            <h3>How to:</h3>
                <p class="ing">{{recipe_text}}</p>
            {{!-- {{ recipe_content }} --}}
        </div>
    </div>
</div>