<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Recipe
    </h2>
    <form class="edit-recipe-form">
        <div>
            <input id='recipe-title' name="recipe-title" type="text" value="{{recipe.title}}" />
            <p>{{recipe.recipe_text}}</p>
        </div>
        <div>
            Posted by you on {{format_date recipe.created_at}}
            <a href="/recipe/{{recipe.id}}">{{recipe.comments.length}} {{format_plural "comment" recipe.comments.length}}</a>
        </div>
        <button id='save-recipe' type="submit">Save recipe</button>
        <button id='delete-recipe' type="button" class="delete-recipe-btn">Delete recipe</button>
    </form>
</article>

<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button id='add-comment' type="submit">add comment</button>
    </div>
</form>

{{> comments recipe.comments}}

<script src="/javascript/edit-recipe.js"></script>
<script src="/javascript/delete-recipe.js"></script>
<script src="/javascript/comment.js"></script>